<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>PMS - Signup</title>
</head>
<body>
    <div class="container flexbox flexbox-ai-c flexbox-jc-c">
        <div class="box1">
            <h3 class="box-title">Signup</h3>
            <form action="" method="post">
                <div class="ip-bx-ctn flexbox flexbox-ai-c flexbox-jc-c">
                    <input type="text" name="name" class="input-box txt-al-c" placeholder="Enter your name..." required>
                </div>
                <div class="ip-bx-ctn flexbox flexbox-ai-c flexbox-jc-c">
                    <input type="text" name="email" class="input-box txt-al-c" placeholder="Enter your email id..." required>
                </div>
                <div class="ip-bx-ctn flexbox flexbox-ai-c flexbox-jc-c">
                    <input type="password" name="passwd" class="input-box txt-al-c" placeholder="Enter your password..." required>
                </div>
                <div class="ip-btn-ctn flexbox flexbox-ai-c flexbox-jc-c">
                    <input type="submit" value="Signup" class="btn-blue txt-al-c">
                </div>
            </form><br>
            <a class="link1" href="/" target="_blank"> Click here to login</a><br><br>
            <span class=<%= clr %>><%= msg %></span>
        </div>
    </div>
    
</body>
</html>
