<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>PMS - Login</title>
</head>
<body>
    <div class="flex-container">
        <div class="box1">
            <h3 class="box-title">Signup</h3>
            <form action="" method="post">
                <div class="ip-bx-ctn"><input type="text" name="name" class="input-box" placeholder="Enter your name..." required></div>
                <div class="ip-bx-ctn"><input type="text" name="email" class="input-box" placeholder="Enter your email id..." required></div>
                <div class="ip-bx-ctn"><input type="password" name="passwd" class="input-box" placeholder="Enter your password..." required></div>
                <div class="ip-btn-ctn"><input type="submit" value="Login" class="btn-blue"></div>
            </form><br>
            <a class="link1" href="/" target="_blank"> Click here to login</a><br><br>
            <span class=<%= clr %>><%= msg %></span>
        </div>
    </div>
    
</body>
</html>
